# Environment variables
.env

# Go binary and build files
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove these if including dependencies in repo)
/vendor/

# Go workspace file
go.work

# LanguageTool files
/external/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
